*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(93deg, #5f6565 20.76%, #0d0d0e 78.80%);               /* para colocarle el degradado */ /* para poner el color a la pagina */
}

nav{
    display: flex;
    justify-content: space-around;      /* para separalos */
    align-items: center; /* esto centra todos os elemnetos  */
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 30px;             
}

nav ul li a{
    text-decoration: none;
    color: white;              /* color del texto de las a */
    font-size: 20px;             /* para agrandar el texto */
}

nav span{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.btn{
    background-color: rgb(240, 209, 209);
    color: gray;
    font-size: 20px;
    border: none;
    padding: 10px 20px; 
    border-radius: 10px;
}

#texto-principal{
    width: 30%;
    color: white;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

main span{
    font-size: 40px;
    display: block;
}